<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="templates"*/-->
<form action="#" th:action="@{/register}" th:object="${userEntity}" method="post">
            <label>First Name</label>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <input th:field="*{firstName}" type="text" name="firstName">
            <label >Last Name</label>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" ></span>
            <input th:field="*{lastName}" type="text" name="lastName">
            <label >Email</label>
            <span th:if="${#fields.hasErrors('emailId')}" th:errors="*{emailId}"></span>
            <input th:field="*{emailId}" type="text" name="emailId">
            <label >Password</label>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input th:field="*{password}" type="password" name="password">
            <input type="reset" value="Clear"/>
            <input type="submit" value="Submit">
</form>
</body>
</html>