<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="templates"*/-->
<form action="#" th:action="@{/register}" th:object="${userEntity}" method="post">
            <span th:text="${ErrorMessage}"></span>
            <label >Username</label>
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" ></span>
            <input th:field="*{username}" type="text" name="lastName">
            <label >Email</label>
            <span th:if="${#fields.hasErrors('emailId')}" th:errors="*{email}"></span>
            <input th:field="*{email}" type="text" name="emailId">
            <label >Password</label>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input th:field="*{password}" type="password" name="password">
            <input type="reset" value="Clear"/>
            <input type="submit" value="Submit">
</form>
</body>
</html>